---
import Layout from "../layouts/Layout.astro";
import { ResetPasswordForm } from "../components/auth/ResetPasswordForm";
---

<Layout title="Resetuj hasło - ZwierzakBezAlergii">
  <div class="min-h-screen flex items-center justify-center bg-muted/30 px-4 py-8">
    <ResetPasswordForm client:load />
  </div>
</Layout>
